@import '../../styles/variables.scss';
@import '../../../fonts/fonts.scss';
.clients {
    background: white;
}

.clients-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clients-logo>img {
    margin: 10px;
}

@import '../../styles/@media.scss'