         @media screen and (max-width: 1040px) {
             .header {
                 .header_nav {
                     .nav_menu .nav_menu_items>a {
                         display: block;
                         padding: 5px;
                     }
                 }
             }
             .services {
                 .wrapper {
                     justify-content: center;
                     flex-wrap: wrap;
                     .services__blok {
                         width: 400px;
                         margin: 10px;
                     }
                 }
             }
             .prices__wrapper {
                 .item__prices {
                     padding-bottom: 10px;
                     .item__price {
                         font-size: 60px;
                         &::before {
                             top: 0;
                             left: -23px;
                             font-size: 30px;
                         }
                     }
                     .item__title {
                         margin: 10px 0;
                     }
                 }
             }
             .blog {
                 .blog-content__wrapper {
                     flex-wrap: wrap;
                     .blog-item {
                         width: 50%;
                         height: 50%;
                         .blog-item__text-wrapper {
                             height: 300p;
                         }
                     }
                 }
             }
         }
         
         @media screen and (max-width: 970px) {
             .header {
                 .header_nav {
                     display: none;
                 }
                 .burger-btn {
                     display: block;
                 }
             }
             .footer {
                 .footer__text {
                     max-width: 40%;
                 }
             }
         }
         
         @media screen and (max-width: 850px) {
             .prices__wrapper {
                 .item__prices {
                     width: 100%;
                     padding-bottom: 10px;
                     // &:not(:last-child) {
                     //     margin-right: 10px;
                     // }
                     .item__price {
                         font-size: 60px;
                         &::before {
                             top: 0;
                             left: -23px;
                             font-size: 30px;
                         }
                     }
                     .item__title {
                         margin: 10px 0;
                     }
                     .item__text {
                         width: 90%;
                     }
                 }
             }
             .blog {
                 .blog-content__wrapper {
                     flex-wrap: wrap;
                     .blog-item {
                         width: 100%;
                         .blog-item__text-wrapper {
                             height: 100%;
                         }
                     }
                     .order {
                         display: flex;
                         flex-direction: column-reverse;
                     }
                 }
             }
             .pageContacts-wrap {
                 .inform {
                     margin: 0 20px;
                 }
                 flex-direction: column;
                 padding-bottom: 0;
                 .map {
                     width: 100%;
                     margin: 30px 0 0;
                 }
             }
         }
         
         @media screen and (max-width: 760px) {
             .prices__wrapper {
                 flex-wrap: wrap;
                 .item__prices {
                     &:not(:last-child) {
                         margin-right: 0;
                     }
                     margin: 20px 0;
                     padding: 20px 0;
                 }
             }
             .compass {
                 .content-wrap {
                     flex-direction: column;
                     text-align: center;
                     .text-wrap {
                         margin: 20px 0;
                         width: 100%;
                     }
                 }
             }
             .clients-logo {
                 flex-wrap: wrap;
                 justify-content: center;
             }
             .footer {
                 .footer__content-wrapper {
                     flex-direction: column;
                     .footer__text {
                         max-width: 100%;
                         margin-bottom: 30px;
                     }
                     .footer__form {
                         grid-template-columns: 40vw 40vw;
                         margin: 0 40px;
                     }
                 }
             }
         }
         
         @media screen and (max-width: 600px) {
             .about {
                 padding-bottom: 30px;
                 .title {
                     padding: 25px 20px 20px;
                     &::after {
                         top: 60px;
                     }
                 }
                 .about__text {
                     margin: 0 25px 20px;
                 }
             }
         }
         
         @media screen and (max-width: 504px) {
             .atlantida {
                 font-size: 30px !important;
             }
             .statistics {
                 flex-direction: column;
                 .statistics__item {
                     text-align: center;
                     width: 100%;
                     margin-bottom: 30px;
                     padding-bottom: 30px;
                     &:not(:last-child) {
                         border-right: none;
                         border-bottom: 2px solid rgba(126, 124, 124, 0.212);
                     }
                 }
             }
             .footer {
                 .footer__form {
                     grid-template-columns: 40vw 40vw;
                     margin: 0 20px;
                 }
             }
         }
         
         @media screen and (max-width: 384px) {
             .about .about__text {
                 margin: 0 10px 20px;
             }
             .atlantida {
                 font-size: 20px !important;
             }
             .footer {
                 .footer__form {
                     display: flex;
                     flex-direction: column;
                     margin: 0 10px;
                 }
             }
         }