.header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 20;
    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        padding: 15px;
    }
    .header_nav {
        .nav_menu {
            display: flex;
            .nav_menu_items>a {
                padding-right: 20px;
                text-transform: uppercase;
                color: rgb(121, 122, 122);
            }
        }
    }
    .social {
        color: rgb(121, 122, 122);
        .social_link {
            color: rgb(121, 122, 122);
        }
    }
}