.header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 20;
    transition: 1s;
    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        padding: 15px;
    }
    .header_nav {
        .nav_menu {
            display: flex;
            .nav_menu_items>a {
                display: block;
                padding: 10px;
                text-transform: uppercase;
                color: rgb(121, 122, 122);
                transition: .7s;
                &:hover {
                    text-shadow: rgb(56, 55, 55) 0 0 20px, rgb(56, 55, 55) 0 0 30px;
                    transform: scale(1.1);
                    color: rgb(63, 62, 62);
                }
            }
        }
    }
}

.header-dark {
    background: #000;
    transition: 1s;
}

.sun-icon {
    color: white;
    cursor: pointer;
}

.moon-icon {
    color: rgb(121, 122, 122);
    cursor: pointer;
}