@import '../../fonts/fonts.scss';
@import './variables.scss';
.section {
    text-align: center;
    padding-bottom: 60px;
}

.title,
.title-light {
    display: inline-block;
    position: relative;
    padding: 50px 20px 40px;
    text-transform: uppercase;
    font-family: Amsdam;
    color: $dark-gray;
    &::after {
        content: '';
        position: absolute;
        background: url('../../img/titleLineBlack.png') no-repeat center / cover;
        width: 100%;
        height: 3px;
        left: 0;
        top: 90px;
    }
}

.title-light {
    color: $light-gray;
    &::after {
        background: url('../../img/titleLineLight.png') no-repeat center / cover;
    }
}

.text,
.light-text {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    font-family: Crimson;
    margin-bottom: 40px;
}

.light-text {
    color: $light-gray;
}

.button {
    border: 2px solid $dark-gray;
    padding: 7px 5px;
    text-transform: inherit;
    margin: 3px;
    width: 120px;
    transition: 0.7s;
    font-family: Montserrat;
    &:hover {
        transform: scale(1.06);
        box-shadow: 0 0 40px rgba(90, 90, 90, 0.651);
        background: rgba(173, 173, 173, 0.486);
    }
}

.btn-dark {
    background: $dark-gray;
    color: $light-gray;
    &:hover {
        color: $dark-gray;
    }
}